<!-- wp:template-part {"slug":"header","theme":"mighty-plumbers"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"light-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-light-color-background-color has-background" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"mighty-plumbers/hero-section"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/featured-cta"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/aboutus-section"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/portfolio-block"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/services-section"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/call-to-action"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/team-section"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/latest-post"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/newsletter-section"} /-->
  <!-- wp:pattern {"slug":"mighty-plumbers/brands-showcase"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"mighty-plumbers","area":"footer"} /-->
